/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body{
    width: auto;
    margin: 0 0 0 -105px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    

    
}

.naslov {
    font-size: 35px;
    font-weight: 600;
    color: white;
}


/* NAVIGATION BAR STYLING */



.navbar{
    
    background: transparent;
    position: fixed;
    width: 100%;
    font-family:'Ubuntu', sans-serif;
    padding: 30px 0;
    transition: 0.5s ease;
    list-style: none;
    z-index: 999;
    
}

.navbar.sticky{
    padding: 0px;
    background-color: rgb(0, 43, 43);

}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 40px;


}

.navbar .menu li {

    list-style: none;
    display: inline-block;

}
.navbar .menu li a{

    color: rgb(255, 255, 255);
    font-size: 23px;
    font-weight: bold;
    font-weight: 500;
    margin-left: 25px;
    transition: 0.5s ease;
    text-transform: uppercase;
    display: inline-block;
    padding: 1em; 

}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto auto auto auto;

}
.navbar .menu li a:hover{
    color: rgb(235, 26, 26);
    
}



/* HOME SECTION STYLE */

.home{
    display: flex;
    background-color: rgb(7, 7, 7);
    height: 100%;
    color: white;
    min-height: 500px;
    font: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto auto auto auto;
}

.home .home-content .text-1 {
    font-size: 25px;
    margin: 100px auto 0 0; 
    text-align: center;

}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
    text-align: center;
}
@keyframes leFlyInBottom {
    0% {
        transform: translate(0px, 80px);
        opacity: 0
    }
    70% {
        transform: translate(10px, -50px);
        animation-timing-function: ease-in-out
    }
}




h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.7em;
    letter-spacing: -2px;
    font-weight:600;
    color: #7a05ac;
    text-align: center;
    z-index: 0;
}

.cssanimation, .cssanimation span {
    animation-duration: 0.7s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.leFlyInBottom span { animation-name: leFlyInBottom }


.home .home-content .text-3 span{
    color: red;
    font-weight: 500;
    font-weight: bold;
}

.naslov span{
    color: rgb(161, 39, 9);
}

svg {
    display: block;
    font: 7em 'Montserrat';
    width: 860px;
    height: 240px;
    margin: 0 0 0 0;

}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #b40c85;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #ee0748;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #e00c48;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #ffee00;
	animation-delay: -5s;
}
    
@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}




/* GET IN TOUCH BUTTON STYLING */


.hire-button{
    background-color: rgb(94, 2, 71); /* Green */
    border-radius: 5%;
    border:rgb(173, 2, 2);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: auto 330px;
    
    
}
.hire-button a {
    
    color: white;
}
.hire-button a:hover{
    color: rgb(100, 99, 102);
    transition: 0.7s ease-in-out;
 

}



/* HAMBURGER MENU STYLING */

 nav .openMenu{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin: 25px;
    cursor: pointer;
    display: none;
    margin-left: 150px;
     
}

 .closeMenu {

    display: none;
}
 




/* ABOUT SECTION STYLING */

section{
    background-color:rgba(178, 185, 185, 0.987);
    width: 100%;
}


.about .title{
    font-size: 35px;
    font-family: 'Ubuntu', sans-serif;
    padding: 80px 0;
    text-align: center;
    margin-left : 40px;
}

.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 450px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
    
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: rgb(128, 4, 4);
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    background-color: rgb(158, 7, 7); 
    border-radius: 7%;
    border:rgb(173, 2, 2);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    
    
}
.about .about-content .right a:hover{
    color: rgb(145, 145, 145);
    transition: 0.3s ease-in-out;
    
}
.about .about-content{

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 17px;
}
.about .content .left {
    width: 55%;

}
.about .about-content .right .text{
    font-size:33px ;
    font-weight: 500;
    margin-bottom: 10px ;
}








/* responsive media query start */




@media (max-width: 870px){

    
body{
    background-color: blueviolet;
    margin: auto auto auto -105px;   
}

.navbar{
    width: auto;
    
}
    .navbar .menu{
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        margin: 0 ;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding-top: -100px;
        transition: all 1.7s ease;
        background-color: rgb(3, 44, 44);
        
    }

    
.navbar .menu li a:hover{
    color: white;
    -webkit-text-stroke: 1px rgb(66, 30, 30);
    

}

.hire-button{
    background-color: rgb(165, 0, 0); /* Green */
    border-radius: 5%;
    border:rgb(173, 2, 2);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: auto auto auto 150px;
    
}


nav .openMenu {
    display: block  ;
    

}

nav .menu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.about .about-content .right a{
    background-color: rgb(105, 0, 0); 
    border-radius: 5%;
    border:rgb(173, 2, 2);
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
   
    
}

.about .about-content .column{
    width: 50%;
}

.max-width{
    max-width: 930px;
    margin: auto auto auto auto;
}
.about .about-content .column{
    width: 80%;
}
.about .about-content .left{
    display: flex;
    justify-content: center;
    margin: 0 auto 30px  40px;
}
.about .about-content .right{
    flex: 100%;
    margin: 0 auto 0 50px;
}
.skills .skills-content .column,
.contact .contact-content .column{
    width: 80%;
    margin-bottom: 35px;
}


svg {
    display: block;
    font: 7em 'Montserrat';
    width: 360px;
    height: 150px;
    margin: 0 auto 0 auto;
}

.home .home-content .text-1{    
    margin: 3px auto auto 100px;
}
.home .home-content .text-3{
    margin: 3px auto auto auto;
}
h1 {
    font-size: 2.5em;
    letter-spacing: -2px;
    font-weight:700;
    color: #7a05ac;
    text-align: center;
    margin: auto auto auto auto;
}
}  
@media (max-width : 690px){
    body{
        background-color: blueviolet;
        width: auto;
         
    }
    .navbar{
        width: auto;
        
    }

    .max-width{
        padding: 0 23px;
        margin: auto auto auto auto;
        
    }
    .home .home-content .text3 {

        font-size: 32px;
    }
    
    svg {
        display: block;
        font: 7em 'Montserrat';
        width: 385px;
        height: 250px;
        margin: -50px 0 auto 100px;
        
    }   
    
    .home .home-content .text-1{
        margin: 50px auto auto 100px;
    }
    .home .home-content .text-3{
        margin: 10px auto auto  100px;
    }
    h1 {
        font-size: 2em;
        letter-spacing: -2px;
        font-weight:600;
        color: #7a05ac;
        text-align: center;
        margin: 3px auto auto 90px;
        z-index: -2;
    }
.hire-button{
    margin: auto auto auto 210px;
}
}


@media (max-width: 500px){
    nav{
        margin: 0 0 0 0px;
    }
    .home .home-content .text-3{
        margin-left: 100px;
    }

    .home .home-content .text-1{
        margin-left: 140px;
    }
    h1{
        margin-left: 131px;
        font-size: 27px;
    }
    svg{
        width: 100%;
        margin-left: 50px;
        font-size: 140px;

    }

}


@media (max-width: 1300px) {
    nav{
        margin: 0 0 0 0px;
    }
    .home .home-content .text-3{
        margin-left: 100px;
    }

    .home .home-content .text-1{
        margin-left: 140px;
    }
    h1{
        margin-left: 131px;
        font-size: 27px;
    }
    svg{
        width: 100%;
        margin-left: 50px;
        font-size: 140px;

    }


}

@media (max-width: 1104px) {
    nav{
        margin: 0 0 0 0px;
    }
    .home .home-content .text-3{
        margin-left: 100px;
    }

    .home .home-content .text-1{
        margin-left: 140px;
    }
    h1{
        margin-left: 131px;
        font-size: 27px;
    }
    svg{
        width: 100%;
        margin-left: 50px;
        font-size: 140px;

    }

}

@media (max-width: 991px) {
    nav{
        margin: 0 0 0 0px;
    }
    .home .home-content .text-3{
        margin-left: 100px;
    }

    .home .home-content .text-1{
        margin-left: 140px;
    }
    h1{
        margin-left: 131px;
        font-size: 27px;
    }
    svg{
        width: 100%;
        margin-left: 50px;
        font-size: 140px;

    }
}









/* SKILLS SECTION STYLING */



/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto auto auto auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content, 
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: left;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: rgb(2, 0, 0);
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}






@media (max-width: 490px){

    nav{
        margin: 0 0 0 0;
    }
    .home .home-content .text-3{
        margin-left: 105px;
        font-size: 30px;
    }

    .home .home-content .text-1{
        margin-left: 160px;
        font-size: 25px;
    }
    h1{
        margin:20px 0 0  155px;
        font-size: 27px;
    }
    svg{
        width: 100%;
        margin: -60px 0 0 93px;

        font-size: 150px;

    }
    .hire-button{
        margin: 0 0 0 215px;
    }

    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 30px  155px;
    }
    .about .about-content .right{
        flex: 100%;
        margin: 0 auto 0 110px;
    }
    .about .title{
        margin: -40px 0 0 150px;
    }
}



@media (max-width: 399px){
    body{
        margin-left: -228px;
    }
    nav{
        margin: 0 0 0 110px
    }
}